<section>
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="justify-center max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">Breadcrumbs</p>
    </div>
    <div class="mt-12 space-y-24">
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            Simple with arrows
          </h3>
        </div>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 flex">
              <li>
                <div
                  class="border h-10 w-10 inline-flex items-center rounded-lg border-vulcan-800 group hover:border-white duration-300"
                >
                  <a
                    href="#_"
                    class="text-sm text-vulcan-300 duration-300 group-hover:text-white mx-auto"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 w-5 h-5"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg></a
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  >
                  <a
                    href="#_"
                    class="text-sm ml-2 text-vulcan-300 hover:text-white"
                  >
                    Help Center
                  </a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#"
                    class="ml-2 text-sm font-medium text-vulcan-300 hover:text-white"
                    >Help Category</a
                  >
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#_"
                    class="ml-2 text-sm font-medium text-white"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            Simple with dividers
          </h3>
        </div>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 flex">
              <li>
                <div>
                  <a href="#_" class="text-sm text-vulcan-300 hover:text-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 w-5 h-5"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg></a
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-slash w-5 h-5 text-vulcan-300"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 5l-10 14"></path>
                  </svg>
                  <a
                    href="#_"
                    class="text-sm ml-2 text-vulcan-300 hover:text-white"
                  >
                    Help Center
                  </a>
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-slash w-5 h-5 text-vulcan-300"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 5l-10 14"></path>
                  </svg><a
                    href="#"
                    class="ml-2 text-sm font-medium text-vulcan-300 hover:text-white"
                    >Help Category</a
                  >
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-slash w-5 h-5 text-vulcan-300"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17 5l-10 14"></path>
                  </svg><a
                    href="#_"
                    class="ml-2 text-sm font-medium text-white"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">Boxed</h3>
        </div>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol
              role="list"
              class="items-center space-x-2 flex border py-2 px-4 h-10 bg-vulcan-900 rounded-xl border-indigo-500"
            >
              <li>
                <div>
                  <a href="#_" class="text-sm text-vulcan-300 hover:text-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 w-5 h-5"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg>
                  </a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  >
                  <a
                    href="#_"
                    class="text-sm ml-2 text-vulcan-300 hover:text-white"
                  >
                    Help Center
                  </a>
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#"
                    class="ml-2 text-sm font-medium text-vulcan-300 hover:text-white"
                    >Help Category</a
                  >
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#_"
                    class="ml-2 text-sm font-medium text-white"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>

      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            Button like
          </h3>
        </div>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 flex">
              <li>
                <div
                  class="border py-2 px-4 h-10 bg-vulcan-900 rounded-xl border-indigo-500"
                >
                  <a href="#_" class="text-sm text-vulcan-300 hover:text-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 w-5 h-5"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg>
                  </a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  >
                  <a
                    href="#_"
                    class="text-sm ml-2 text-vulcan-300 hover:text-white border py-2 px-4 h-10 bg-vulcan-900 rounded-xl border-indigo-500"
                  >
                    Help Center
                  </a>
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#"
                    class="ml-2 text-sm font-medium text-vulcan-300 hover:text-white border py-2 px-4 h-10 bg-vulcan-900 rounded-xl border-indigo-500"
                    >Help Category</a
                  >
                </div>
              </li><li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#_"
                    class="ml-2 text-sm font-medium text-white border py-2 px-4 h-10 bg-vulcan-900 rounded-xl border-indigo-500"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            With options
          </h3>
        </div>
        <div class="max-w-2xl mt-10">
          <nav class="flex" aria-label="Breadcrumb">
            <ol role="list" class="items-center space-x-2 inline-flex">
              <li>
                <div class="flex items-center">
                  <a href="#_" class="text-sm text-vulcan-300 hover:text-white">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="icon icon-tabler icon-tabler-#-2 w-5 h-5"
                      viewBox="0 0 24 24"
                      stroke-width="2"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                      <path d="M5 12l-2 0l9 -9l9 9l-2 0"></path>
                      <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"
                      ></path>
                      <path d="M10 12h4v4h-4z"></path>
                    </svg></a
                  >
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  >
                  <a
                    href="#_"
                    class="text-sm ml-2 text-vulcan-300 hover:text-white"
                  >
                    Help Center
                  </a>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#"
                    class="ml-2 text-sm font-medium text-vulcan-300 hover:text-white"
                    >Help Category</a
                  >
                </div>
              </li>
              <li
                class="flex items-center relative"
                @click.away="open = false"
                x-data="{ open: false }"
              >
                <svg
                  class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                  ><path
                    fill-rule="evenodd"
                    d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                    clip-rule="evenodd"></path></svg
                >
                <button
                  @click="open = !open"
                  class="bg-vulcan-800 px-4 ml-2 rounded-full border-vulcan-700 hover:bg-vulcan-700 border justify-between text-sm text-vulcan-300 hover:text-white"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-dots w-4 h-4"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                    <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                  </svg>
                </button>
                <div
                  x-show="open"
                  style="display: none;"
                  x-transition:enter="transition ease-out duration-100"
                  x-transition:enter-start="transform opacity-0 scale-95"
                  x-transition:enter-end="transform opacity-100 scale-100"
                  x-transition:leave="transition ease-in duration-75"
                  x-transition:leave-start="transform opacity-100 scale-100"
                  x-transition:leave-end="transform opacity-0 scale-95"
                  class="absolute right-0 z-10 w-auto mt-2 origin-top-right rounded-xl bg-gradient-to-b from-indigo-500 via-indigo-500/ ring-1 ring-inset ring-white/5 focus:outline-none p-[0.060rem]"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="menu-button"
                  tabindex="-1"
                >
                  <div class="py-1 bg-vulcan-900 rounded-xl" role="none">
                    <button
                      type="button"
                      class="block text-left px-4 py-2 text-sm text-white hover:text-indigo-400"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-0">Overview </button
                    >
                    <button
                      type="button"
                      class="block px-4 py-2 text-sm text-white hover:text-indigo-400"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-1">Style Guide</button
                    >
                    <button
                      type="button"
                      class="block px-4 py-2 text-sm text-white hover:text-indigo-400"
                      role="menuitem"
                      tabindex="-1"
                      id="menu-item-2">Components</button
                    >
                    <form
                      method="POST"
                      action="#"
                      role="none"
                      class="border-t border-white/5"
                    >
                      <button
                        type="submit"
                        class="block px-4 py-2 text-sm text-white hover:text-indigo-400"
                        role="menuitem"
                        tabindex="-1"
                        id="menu-item-3">Sign out</button
                      >
                    </form>
                  </div>
                </div>
              </li>
              <li>
                <div class="flex items-center">
                  <svg
                    class="flex-shrink-0 w-5 h-5 text-vulcan-300"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    aria-hidden="true"
                    ><path
                      fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"></path></svg
                  ><a
                    href="#_"
                    class="ml-2 text-sm font-medium text-white"
                    aria-current="page">Settings and billing</a
                  >
                </div>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
