<section>
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="justify-center max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">
        Color palette
      </p>
    </div>
    <div class="space-y-24 w-full mt-12">
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">Brand</h3>
        </div>
        <div class="flex flex-row gap-1 mt-10">
          <div class="p-6 w-full bg-white border rounded-lg"></div>
          <div
            class="p-6 w-full rounded-lg bg-gradient-to-r from-indigo-300 via-indigo-400 to-indigo-500"
          >
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div>
          <div class="pb-5 border-b border-vulcan-800">
            <h3 class="text-base font-semibold leading-6 text-white">Text</h3>
          </div>
          <div class="mt-6 flex flex-col gap-2">
            <div class="inline-flex items-center gap-2">
              <div class="p-6 rounded-lg bg-white"></div>
              <p class="text-white text-sm">text-white</p>
            </div>
            <div class="inline-flex items-center gap-2">
              <div class="p-6 rounded-lg bg-vulcan-300"></div>
              <p class="text-white text-sm">text-vulcan-200</p>
            </div>
            <div class="inline-flex items-center gap-2">
              <div class="p-6 rounded-lg bg-vulcan-300"></div>
              <p class="text-white text-sm">text-vulcan-300</p>
            </div>
          </div>
        </div>
        <div>
          <div class="pb-5 border-b border-vulcan-800">
            <h3 class="text-base font-semibold leading-6 text-white">
              Background
            </h3>
          </div>
          <div class="mt-6 flex flex-col gap-2">
            <div class="inline-flex items-center gap-2">
              <div class="p-6 rounded-lg bg-vulcan-800"></div>
              <p class="text-white text-sm">bg-vulcan-800</p>
            </div>
            <div class="inline-flex items-center gap-2">
              <div
                class="p-6 border rounded-lg border-vulcan-800 bg-vulcan-900"
              >
              </div>
              <p class="text-white text-sm">bg-vulcan-900</p>
            </div>
            <div class="inline-flex items-center gap-2">
              <div class="p-6 bg-vulcan-950 rounded-lg"></div>
              <p class="text-white text-sm">bg-vulcan-950</p>
            </div>
          </div>
        </div>
      </div>
      <div class="space-y-12">
        <div class="grid grid-cols-1 md:grid-cols-4 lg:grid-cols-5 gap-8">
          <div>
            <div class="pb-5 border-b border-vulcan-800">
              <h3 class="text-base font-semibold leading-6 text-white">
                Indigo
              </h3>
            </div>
            <div class="mt-6 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-50"></div>
                <p class="text-white text-sm">bg-indigo-50</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-100"></div>
                <p class="text-white text-sm">bg-indigo-100</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-200"></div>
                <p class="text-white text-sm">bg-indigo-200</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-300"></div>
                <p class="text-white text-sm">bg-indigo-300</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-400"></div>
                <p class="text-white text-sm">bg-indigo-400</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-500"></div>
                <p class="text-white text-sm">bg-indigo-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-600"></div>
                <p class="text-white text-sm">bg-indigo-600</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-700"></div>
                <p class="text-white text-sm">bg-indigo-700</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-800"></div>
                <p class="text-white text-sm">bg-indigo-800</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-900"></div>
                <p class="text-white text-sm">bg-indigo-900</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-indigo-950"></div>
                <p class="text-white text-sm">bg-indigo-950</p>
              </div>
            </div>
          </div>
          <div>
            <div class="pb-5 border-b border-vulcan-800">
              <h3 class="text-base font-semibold leading-6 text-white">
                Vulcan
              </h3>
            </div>
            <div class="mt-6 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-50"></div>
                <p class="text-white text-sm">bg-vulcan-50</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-100"></div>
                <p class="text-white text-sm">bg-vulcan-100</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-200"></div>
                <p class="text-white text-sm">bg-vulcan-200</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-300"></div>
                <p class="text-white text-sm">bg-vulcan-300</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-400"></div>
                <p class="text-white text-sm">bg-vulcan-400</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-500"></div>
                <p class="text-white text-sm">bg-vulcan-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-600"></div>
                <p class="text-white text-sm">bg-vulcan-600</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-700"></div>
                <p class="text-white text-sm">bg-vulcan-700</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-800"></div>
                <p class="text-white text-sm">bg-vulcan-800</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg border border-vulcan-800 bg-vulcan-900"></div>
                <p class="text-white text-sm">bg-vulcan-900</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-vulcan-950"></div>
                <p class="text-white text-sm">bg-vulcan-950</p>
              </div>
            </div>
          </div>
          <div>
            <div class="pb-5 border-b border-vulcan-800">
              <h3 class="text-base font-semibold leading-6 text-white">
                Success
              </h3>
            </div>
            <div class="mt-6 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-50"></div>
                <p class="text-white text-sm">bg-success-50</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-100"></div>
                <p class="text-white text-sm">bg-success-100</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-200"></div>
                <p class="text-white text-sm">bg-success-200</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-300"></div>
                <p class="text-white text-sm">bg-success-300</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-400"></div>
                <p class="text-white text-sm">bg-success-400</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-500"></div>
                <p class="text-white text-sm">bg-success-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-600"></div>
                <p class="text-white text-sm">bg-success-600</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-700"></div>
                <p class="text-white text-sm">bg-success-700</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-800"></div>
                <p class="text-white text-sm">bg-success-800</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-900"></div>
                <p class="text-white text-sm">bg-success-900</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-success-950"></div>
                <p class="text-white text-sm">bg-success-950</p>
              </div>
            </div>
          </div>
          <div>
            <div class="pb-5 border-b border-vulcan-800">
              <h3 class="text-base font-semibold leading-6 text-white">
                Warning
              </h3>
            </div>
            <div class="mt-6 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-50"></div>
                <p class="text-white text-sm">bg-warning-50</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-100"></div>
                <p class="text-white text-sm">bg-warning-100</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-200"></div>
                <p class="text-white text-sm">bg-warning-200</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-300"></div>
                <p class="text-white text-sm">bg-warning-300</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-400"></div>
                <p class="text-white text-sm">bg-warning-400</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-500"></div>
                <p class="text-white text-sm">bg-warning-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-600"></div>
                <p class="text-white text-sm">bg-warning-600</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-700"></div>
                <p class="text-white text-sm">bg-warning-700</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-800"></div>
                <p class="text-white text-sm">bg-warning-800</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-900"></div>
                <p class="text-white text-sm">bg-warning-900</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-warning-950"></div>
                <p class="text-white text-sm">bg-warning-950</p>
              </div>
            </div>
          </div>
          <div>
            <div class="pb-5 border-b border-vulcan-800">
              <h3 class="text-base font-semibold leading-6 text-white">
                Warning
              </h3>
            </div>
            <div class="mt-6 flex flex-col gap-2">
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-50"></div>
                <p class="text-white text-sm">bg-danger-50</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-100"></div>
                <p class="text-white text-sm">bg-danger-100</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-200"></div>
                <p class="text-white text-sm">bg-danger-200</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-300"></div>
                <p class="text-white text-sm">bg-danger-300</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-400"></div>
                <p class="text-white text-sm">bg-danger-400</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-500"></div>
                <p class="text-white text-sm">bg-danger-500</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-600"></div>
                <p class="text-white text-sm">bg-danger-600</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-700"></div>
                <p class="text-white text-sm">bg-danger-700</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-800"></div>
                <p class="text-white text-sm">bg-danger-800</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-900"></div>
                <p class="text-white text-sm">bg-danger-900</p>
              </div>
              <div class="inline-flex items-center gap-2">
                <div class="p-6 rounded-lg bg-danger-950"></div>
                <p class="text-white text-sm">bg-danger-950</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
