<section>
  <div class="relative px-8 py-12 mx-auto max-w-7xl md:px-12 lg:px-32 lg:py-36">
    <div class="justify-center max-w-3xl">
      <div>
        <p class="text-3xl font-normal tracking-tight text-white">
          Component Overview
        </p>
      </div>
    </div><div class="grid grid-cols-1 gap-12">
      <div class="mt-10 text-sm">
        <p class="text-lg font-medium text-white lg:text-xl">All components</p>
        <div
          class="grid grid-cols-2 gap-x-6 md:grid-cols-4 lg:gap-x-32 justify-start mt-10"
        >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/buttons"
            >Buttons <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >66</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/dropdowns"
            >Dropdowns <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >9</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/tooltip"
            >Tooltip <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >12</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/pagination"
            >Paginations <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >4</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/badges"
            >Badges <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >16</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/alerts"
            >Alerts <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >14</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/notifications"
            >Notifications <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >4</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/accordion"
            >Accordion <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >3</span
            ></a
          >
          <a
            class="md:inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group hidden"
            href="/components/breadcrumbs"
            >Breadcrumbs <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >5</span
            ></a
          >

          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/modals"
            >Modals <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >6</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/tabs"
            >Tabs <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >12</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/tables"
            >Tables <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >5</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/forms"
            >Forms <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >17</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/sliders"
            >Sliders <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >2</span
            ></a
          >
          <a
            class="inline-flex items-center mt-4 text-sm text-vulcan-300 hover:text-white justify-between group"
            href="/components/timeline"
            >Timelines <span
              class="items-center shrink-0 inline-flex font-medium text-indigo-400 bg-vulcan-800 px-3 py-0.5 rounded-full text-xs group-hover:text-white"
              >2</span
            ></a
          >

        </div>
      </div>
    </div>
  </div>
</section>
