---
import Blurgradientleft from "../assets/Blurgradientleft.astro";
---
<section>
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="justify-center max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">Timeline</p>
    </div>
    <div class="mt-12 space-y-24">
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            Horizontal
          </h3>
        </div>
        <ol
          class="border-l border-vulcan-800 md:flex md:justify-center md:gap-6 md:border-l-0 md:border-t mt-10"
        >
          <!--First item-->
          <li>
            <div class="flex-start flex items-center pt-2 md:block md:pt-0">
              <div
                class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-indigo-300 md:-mt-[5px] md:ml-0 md:mr-0"
              >
              </div>
            </div>
            <div class="ml-4 mt-4 md:ml-0">
              <div
                class="ring-1 ring-inset ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem] h-full"
              >
                <div class="bg-vulcan-900 p-8 rounded-xl h-full">
                  <p
                    class="text-xs text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
                  >
                    03.16.2023
                  </p>
                  <h4 class="text-sm mt-8 text-white">Project Initiation</h4>
                  <p class="mt-4 text-vulcan-300 text-sm">
                    The project officially begins with planning, goal setting,
                    and team formation.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <!--Second item-->
          <li>
            <div class="flex-start flex items-center pt-2 md:block md:pt-0">
              <div
                class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-indigo-300 md:-mt-[5px] md:ml-0 md:mr-0"
              >
              </div>
            </div>
            <div class="ml-4 mt-4 md:ml-0">
              <div
                class="ring-1 flex ring-inset ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem] h-full flex-col h.full"
              >
                <div class="bg-vulcan-900 p-8 rounded-xl h-full">
                  <p
                    class="text-xs text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
                  >
                    03.16.2023
                  </p>
                  <h4 class="text-sm mt-8 text-white">Product Launch</h4>
                  <p class="mt-4 text-vulcan-300 text-sm">
                    After months of hard work, the product is successfully
                    launched to the market, marking a significant achievement.
                  </p>
                </div>
              </div>
            </div>
          </li>
          <!--Third item-->
          <li>
            <div class="flex-start flex items-center pt-2 md:block md:pt-0">
              <div
                class="-ml-[5px] mr-3 h-[9px] w-[9px] rounded-full bg-indigo-300 md:-mt-[5px] md:ml-0 md:mr-0"
              >
              </div>
            </div>
            <div class="ml-4 mt-4 md:ml-0">
              <div
                class="ring-1 flex ring-inset ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem] h-full flex-col h.full"
              >
                <div class="bg-vulcan-900 p-8 rounded-xl h-full">
                  <p
                    class="text-xs text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
                  >
                    03.16.2023
                  </p>
                  <h4 class="text-sm mt-8 text-white">
                    Expansion and Innovation
                  </h4>
                  <p class="mt-4 text-vulcan-300 text-sm">
                    he team sets its sights on the future, aiming for expansion
                    and continuous innovation to stay competitive.
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">Vertical</h3>
        </div>

        <div class="mt-10">
          <div
            class="flex flex-col md:grid grid-cols-9 mx-auto"
          >
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div class="col-start-1 col-end-5 ml-auto">
                <div
                  class="ring-1 ring-inset relative ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem] h-full overflow-hidden"
                >
                <Blurgradientleft />
                  <div class="bg-vulcan-900/20 relative p-8 rounded-xl h-full">
                    <p
                      class="text-xs text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
                    >
                      03.16.2023
                    </p>
                    <h4 class="text-sm mt-8 text-white">Project Initiation</h4>
                    <p class="mt-4 text-vulcan-300 text-sm">
                      The project officially begins with planning, goal setting,
                      and team formation.
                    </p>
                    <button
                      type="button"
                      class="flex items-center justify-center w-auto mt-8 h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
                      >Outlined button</button
                    >
                  </div>
                </div>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-3 flex items-center justify-center">
                  <div
                    class="h-full w-[0.05rem] bg-vulcan-800 pointer-events-none"
                  >
                  </div>
                </div>
                <div
                  class="w-3 h-3 absolute top-1/2 -mt-3 rounded-full bg-indigo-300"
                >
                </div>
              </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
              <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                <div class="h-full w-3 flex items-center justify-center">
                  <div
                    class="h-full w-[0.05rem] bg-vulcan-800 pointer-events-none"
                  >
                  </div>
                </div>
                <div
                  class="w-3 h-3 absolute top-1/2 -mt-3 rounded-full bg-indigo-300"
                >
                </div>
              </div>
              <div class="col-start-6 col-end-10 my-4 mr-auto">
                <div
                class="ring-1 ring-inset relative ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem] h-full overflow-hidden"
              >
              <Blurgradientleft />
                  <div class="bg-vulcan-900/20 p-8 rounded-xl h-full relative">
                    <p
                      class="text-xs text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
                    >
                      03.16.2023
                    </p>
                    <h4 class="text-sm mt-8 text-white">Product Launch</h4>
                    <p class="mt-4 text-vulcan-300 text-sm">
                      After months of hard work, the product is successfully
                      launched to the market, marking a significant achievement.
                    </p>
                    <button
                      type="button"
                      class="flex items-center justify-center w-auto mt-8 h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
                      >Outlined button</button
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
              <div class="col-start-1 col-end-5 my-4 ml-auto">
                <div
                class="ring-1 ring-inset relative ring-white/5 text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem] h-full overflow-hidden"
              >
              <Blurgradientleft />
                  <div class="bg-vulcan-900/20 p-8 rounded-xl h-full relative">
                    <p
                      class="text-xs text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
                    >
                      03.16.2023
                    </p>
                    <h4 class="text-sm mt-8 text-white">
                      Expansion and Innovation
                    </h4>
                    <p class="mt-4 text-vulcan-300 text-sm">
                      he team sets its sights on the future, aiming for
                      expansion and continuous innovation to stay competitive.
                    </p>
                    <button
                      type="button"
                      class="flex items-center justify-center w-auto mt-8 h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
                      >Outlined button</button
                    >
                  </div>
                </div>
              </div>
              <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                <div class="h-full w-3 flex items-center justify-center">
                  <div
                    class="h-full w-[0.05rem] bg-vulcan-800 pointer-events-none"
                  >
                  </div>
                </div>
                <div
                  class="w-3 h-3 absolute top-1/2 -mt-3 rounded-full bg-indigo-300"
                >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
