<section>
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="justify-center max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">Tooltip</p>
    </div>
    <div class="mt-12 space-y-24">
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">Tooltips with Tippyjs</h3>
        </div>
        <div class="inline-flex flex-wrap items-center w-full gap-2 mt-10">

          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.top="tooltip"
              >Top
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.top-start="tooltip"
              >Top start
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.top-end="tooltip"
              >Top end
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.right="tooltip"
              >Right
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.right-start="tooltip"
              >Right start
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.right-end="tooltip"
              >Right end
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.bottom="tooltip"
              >Bottom
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.bottom-start="tooltip"
              >Bottom start
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.bottom-end="tooltip"
              >Bottom end
            </button>
          </div>
           <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.left="tooltip"
              >Left
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.left-start="tooltip"
              >LEft start
            </button>
          </div>
          <div x-data="{ tooltip: 'This is crazy!' }">
            <button
              class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all border rounded-lg bg-vulcan-900 hover:text-indigo-400 border-vulcan-700"
              x-tooltip.theme.light.placement.left-end="tooltip"
              >Left end
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
