---
import BaseLayout from "@/layouts/BaseLayout.astro";
import FeatureFive from "@/components_webpage/_landingpage/FeatureFive.astro";
import HeroTwo from "@/components_webpage/_landingpage/HeroTwo.astro";
import LogoCloudOne from "@/components_webpage/_landingpage/LogoCloudOne.astro";
---

<BaseLayout>
  <HeroTwo />
  <div id="solutionsandservicesoffer">
    <FeatureFive />
  </div>
  <LogoCloudOne />
</BaseLayout>
