---
import Verticalgrid from "../../assets/Verticalgrid.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, getRouteFromUrl } from '../../../i18n/utils';
import { languages } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const features = [
  {
    number: "01.",
    title: t('softwaredevelopmentpage:optimaladaptationtodigitizationandoptimizationbusinessprocesses'),
    description: t('softwaredevelopmentpage:optimaladaptationtodigitizationandoptimizationbusinessprocessesdescription'),
  },
  {
    number: "02.",
    title: t('softwaredevelopmentpage:rapidadaptationchanges'),
    description: t('softwaredevelopmentpage:rapidadaptationchangesdescription'),
  },
  {
    number: "03.",
    title: t('softwaredevelopmentpage:enhancedconnectivitywithexternalsystems'),
    description: t('softwaredevelopmentpage:enhancedconnectivitywithexternalsystemsdescription'),
  }
];
---
<section class="relative">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-2xl mx-auto lg:text-center">
      <div>
        <p class="text-3xl mt-8 font-normal text-white tracking-tight">
          {t('softwaredevelopmentpage:maintitle')}
        </p>
        <p class="text-vulcan-300 text-base mt-4 max-w-lg lg:mx-auto">
          {t('softwaredevelopmentpage:maindescription')}
        </p>
      </div>
    </div>
    <ul class="grid grid-cols-1 lg:text-center gap-6 mt-12 list-none lg:grid-cols-3 lg:gap-12 lg:mt-24" role="list">
      {
        features.map((feature) => (
          <li>
            <p class="text-lg font-medium text-white lg:text-xl">
              {feature.title}
            </p>
            <p class="mt-2 text-base text-vulcan-300">
              {feature.description}
            </p>
          </li>
        ))
      }
    </ul>
  </div>
</section>