---
const { position, url } = Astro.props;
---

<div class="sm:flex sm:items-center sm:justify-between">
  <h3 class="text-base text-vulcan-200 py-6">
    {position}
  </h3>
  <div class="mt-3 sm:ml-4 sm:mt-0">
    <a
      href={url}
      title={position}
      aria-label={position}
      class="hover:text-indigo-400 text-white duration-200"
      >See job post &nbsp; &rarr;</a
    >
  </div>
</div>
