---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");

const meta = {
    title: SITE.title,
    description: SITE.description,
    dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Features
    highlight=""
    title=""
    subtitle=""
    items={[
      [
        {
          title: 'Osnovni podatki',
          description:
            'KUEM, informacijske rešitve, d.o.o.<br />Ulica Istrskega odreda 27A<br />6215 Divača<br />Slovenija',
          icon: 'tabler:building'
        }
      ],
      [
        {
          title: 'Kontakt',
          description:
            '<div style="display: inline-flex"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M3 7a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7z"/><path d="m3 7l9 6l9-6"/></g></svg><span style="padding-left: 20px;padding-top: 2px;">info@kuem.si</span></div><br /><div style="display: inline-flex"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5L15 13l5 2v4a2 2 0 0 1-2 2A16 16 0 0 1 3 6a2 2 0 0 1 2-2"/></svg><span style="padding-left: 20px;padding-top: 2px;">+386 5 763 11 18</span></div>',
          icon: 'tabler:at',
        }
      ],
    ]}
  />

  <section class="scroll-mt-16">
    <div class="px-4 mx-auto max-w-6xl lg:px-8" style="padding-top: 0rem;padding-bottom: 4rem;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2787.4834890803536!2d13.968201276689935!3d45.68126841892878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477b3f335b042511%3A0x8b1cff5882f3e46e!2sUlica%20Istrskega%20odreda%2027a%2C%206215%20Diva%C4%8Da!5e0!3m2!1sen!2ssi!4v1687422501188!5m2!1sen!2ssi"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </section>
</Layout>
