---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");

const meta = {
    title: SITE.title,
    description: SITE.description,
    dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Content
    isReversed
    highlight=""
    title=""
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Pomembnost zasnove arhitekture</h3>
      Večina poslovne programske opreme je mišljena da se z vmesnimi dodelavami uporablja mnogo let.<br />
      Pomembno je, da se programske oprema zasnuje na način, da je kasneje možno kar se da enostavno dodajati novo funkcionalnost in da je možno ekonomsko in tehnično učinkovito povečevati zmogljivost, ki jo prinese rast podatkov.<br />
      Skupina strokovnjakov v podjetju na podlagi zajema zahtev zasnuje najbolj optimalno zasnovo arhitekturo in po potrebi nudi pomoč pri razvoju.<br /><br />
      Pri arhitekturi in razvoju na ključ se zaradi ekonopmskih prednosti vedno držimo številčno najmanjšega tehnološkega okolja, ki ima zagotovljeno večletno podporo naprej.
    </Fragment>
  </Content>

  <Content
    highlight=""
    title=""
    items={[
      {
        title: 'Zasnova programske opreme po modulih (t.i. pluggable arhitektura)',
        description:
          'Optimalno prilagajanje izvajanju poslovnim procesom zvišuje učinkovitost uporabnikom in s tem povezano večjo konkurenčnostjo na globalnem trgu.',
      },
      {
        title: 'Hitrejše sledenje spremembam',
        description:
          'V veliko tržnih segmentih različnih panog se trg hitro spreminja. Z programsko opremo po meri se lahko lažje in hitreje implementira spremembe ter ostaja v optimalni konkurenčnosti.',
      },
      {
        title: 'Boljša povezljivost z zunanjimi sistemi',
        description:
          'Ena pomembnejših prednosti, ki jih prinaša namenska programska oprema je možnost komuniciranja z drugimi sistemi, ki opravljajo druge namenske naloge. Avtomatizirana izmenjava je ključ do boljšega celostnega poslovanja in zmanjševanja človeških napak.',
      },
      {
        title: 'Koncept zasnove za t.i. horizontalno skaliranje (ang.: scale-out)',
        description:
          'Pomemben vidik že na samem začetku pri snovanju programske opreme je analiza optencialnih ozkih grl, ki lahko resneje ogrozijo uporabo v prihodnosti, ko količina podatkov in/ali število uporabnikov naraste. Najboljši način skaliranja strojne opreme tako z ekonomskega kot tehničnega vidika je z dodajanjem dodatnih strojnih kapacitet.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Na podlagi večletnih izkušenj med drugim ponujamo</h3>
    </Fragment>
  </Content>
</Layout>
