---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Features2 from "~/components/widgets/Features2.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import LatestPosts from "~/components/blog/LatestPosts.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("en");

const meta = {
    title: SITE.title,
    description: SITE.description,
    dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <!-- <Hero
    callToAction={{ text: 'Get template', href: 'https://github.com/onwidget/astrowind', icon: 'tabler:download' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      {t("site.test")}&nbsp;<span class="hidden xl:inline">creating websites with</span>
      <span class="text-accent dark:text-white highlight"> Astro 2.0</span> + Tailwind CSS
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 2.0 +
        Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span> Suitable for Startups,
      Small Business, Sass Websites, Professional Portfolios, Marketing Websites, Landing Pages & Blogs.
    </Fragment>
  </Hero> -->

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <!-- <Features
    highlight="Features"
    title="What you get with AstroWind"
    subtitle="Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque rem aperiam, eaque ipsa quae."
    items={[
      [
        {
          title: 'Astro + Tailwind CSS Integration',
          description:
            'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Ready-to-use Components',
          description:
            'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
          icon: 'tabler:components',
        },
        {
          title: 'Best Practices',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Excellent Page Speed',
          description:
            'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Search Engine Optimization (SEO)',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Open to new ideas and contributions',
          description:
            'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  /> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->

  <Steps
    title="Vaše želje uresničimo s koraki uspešnega sodelovanja in razvoja."
    items={[
      {
        title: '1. korak: <span class="font-medium">Spoznavni sestanek</span>',
        description:
          'Na spoznavnem sestanku bomo z našo ekipo pridobili vpogled v vaše potrebe in cilje. Skupaj bomo oblikovali načrt za razvoj, ki bo izpolnil vaše zahteve in prispeval k uspehu vašega podjetja.',
        icon: 'tabler:users',
      },
      {
        title: '2. korak: <span class="font-medium">Posvetovanje</em>',
        description:
          'Skupno sestajanje v rednih sestankih za sodelovanje pri razvoju rešitve. Na teh sestankih bomo pregledali napredek projekta, obravnavali vaše povratne informacije ter se dogovarjali o morebitnih prilagoditvah ali dodatnih zahtevah. Skozi tesno sodelovanje zagotovimo, da bo razvoj rešitve ustrezal vašim pričakovanjem in potrebam.',
        icon: 'tabler:message',
      },
      {
        title: '3. korak: <span class="font-medium">Razvoj</span>',
        description:
          'Faza razvoja, kjer naša ekipa razvijalcev ustvari rešitev glede na vaše zahteve in specifikacije. Med tem procesom bomo tesno sodelovali, zagotavljali redno komunikacijo ter vas obveščali o napredku in morebitnih izzivih, da bomo skupaj dosegli uspešen razvoj rešitve. Naš cilj je zagotoviti kakovostno in pravočasno izvedbo, ki izpolni vaše pričakovanje.',
        icon: 'tabler:keyboard',
      },
      {
        title: 'Dostava, postavitev in vzdrževanje',
        description:
          'Po uspešnem razvoju rešitve bomo poskrbeli za dostavo in postavitev v vaše okolje. Naša ekipa bo strokovno namestila ter integrirala rešitev, zagotavljajoč nemoteno delovanje v skladu z vašimi sistemi. Poleg tega bomo nudili tudi vzdrževanje, ki vključuje odpravljanje težav, posodobitve in podporo za zanesljivo delovanje rešitve tudi v prihodnosti.',
        icon: 'tabler:package',
      },
    ]}
    image={{
      src: import('~/assets/images/software-design.jpg'),
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    highlight="Components"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  /> -->

  <!-- HighlightedPosts Widget ******* -->

  <LatestPosts
    title="Tehnologije"
    information={`Pri razvoju custom rešitev se poslužujemo širokega nabora tehnologij, prilagojenih glede na specifične potrebe projekta. Naša ekipa strokovnjakov je vešča uporabe različnih programskih jezikov, okvirjev, platform, baz podatkov ter tehnologij za mobilne aplikacije, kar nam omogoča ustvarjanje prilagodljivih in skalabilnih rešitev.
		`}
    postIds={[
      'abp-description-post.md',
      'postgresql-description-post.md',
      '',
      'astrowind-template-in-depth.md',
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pogosto postavljena vprašanja"
    subtitle=""
    highlight="FAQ"
    items={[
      [
        {
          question: 'Kaj rabite za začetek?',
          answer:
            'Idejo in dobro poznavanje tematike.',
        },
        {
          question: 'Kako stopite z nami v kontakt?',
          answer:
            "Napišite nam sporočilo z vašimi željami in odgovorili vam bomo v najkrajšem možnem času.",
        },
        {
          question: "Koliko sestankov imate na voljo?",
          answer:
            "V sklopu načrtovanja in razvoja programske opreme imate na voljo 2 brezplačna enourna sestanka. Po tem se vsak nadaljni sestanek obračuna po veljavnem ceniku.",
        },
      ],
      [
        {
          question: "Koliko časa približno vzame celoten postopek?",
          answer:
            "Ker je vsak projekt unikaten, lahko traja celotna zgodba nekaj tednov in lahko tudi do več mesecev.",
        },
        {
          question: 'Ali ponujamo tudi storitve postavitve v oblaku?',
          answer:
            "Po dogovoru vam programsko opremo lahko naložimo na vaše strežnike, ali pa v naš oblak.",
        },
        {
          question: 'Zaposlitev',
          answer:
            "Ker se vedno potrebuje dodatno pomoč pri razvoju, nudimo več možnosti sodelovanja. Stopite z nami v kontakt!",
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    items={[
      { name: 'Izkušenj', value: '12+ let' },
      { name: 'Celovitih Rešitev', value: '10+' },
      { name: 'Članov Ekipe', value: '6' },
      { name: 'Nabor Tehnologij', value: '20+' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Stopite z nami v kontakt!',
      href: '/contact',
      icon: 'tabler:at',
    }}
  >
    <Fragment slot="title">
      Kuem d.o.o. <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"> Dev</span>
    </Fragment>

    <Fragment slot="subtitle">
      Ne odlašajte z nadgradnjo vašega sistema ali uresničitvijo vaših sanj. <br class="hidden md:inline" />
    </Fragment>
  </CallToAction>
</Layout>
