---
import RoundedGrid from "../assets/RoundedGrid.astro";
---

<section

  class="relative overflow-hidden lg:h-svh justify-center items-center">
  <RoundedGrid />
  <div
    class="px-8 relative md:flex-none md:px-28 py-32 lg:h-svh sm:justify-center flex items-center justify-center">
    <div class="w-full max-w-md md:max-w-sm md:px-0 mx-auto sm:px-4">
      <div class="flex flex-col text-center">
        <div>
          <p class="text-3xl font-normal text-white">Forgot password?</p>
        </div>
      </div>
      <form class="mt-24" action="#_">
        <input name="hidden" autocomplete="false" style="display:none" />
        <input name="_redirect" type="hidden" value="#" />
        <div class="space-y-3">
          <div class="col-span-full">
           <label
              for="email"
              class="block mb-3 text-sm font-medium text-white sr-only"
            >
              Email
            </label>
            <input
              type="email"
              autocomplete="off"
              placeholder="email@example.com"
              aria-placeholder="email@example.com"
              required
              class="block w-full h-10 px-4 py-3 text-indigo-300 bg-transparent border rounded-lg appearance-none border-vulcan-800 placeholder-vulcan-400 focus:border-indigo-300 focus:bg-transparent focus:outline-none focus:ring-indigo-300 sm:text-sm"
            />
          </div>
          <div class="col-span-full">
            <button
              type="submit"
              class="flex items-center w-full justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
              >Submit
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</section>
