---
import Verticalgrid from "../../assets/Verticalgrid.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, getRouteFromUrl } from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);


---
<section class="relative">
  <Verticalgrid />
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative space-y-24"
  >
    <div class="grid grid-cols-1 gap-4 mt-6 list-none lg:grid-cols-2 lg:gap-24">
      <div>
        <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
           {t('global:arhitecture')}
        </p><p class="text-3xl mt-8 font-normal text-white trackingt-tight">
          {t('softwarearhitecturepage:title')}
        </p>
        <p class="mt-4 text-base text-vulcan-300">
          {t('softwarearhitecturepage:description1')}
          <br/><br/>
          {t('softwarearhitecturepage:description2')}
        </p>
        <div class="flex flex-wrap mt-10">
          
        </div>
      </div>
      <div class="lg:mt-0 mt-12 h-full">
        <img alt="Lexington thumbnail" class="rounded-2xl shadow-2xl shadow-vulcan-950/50 w-full" src="/assets/architecture.png" />
      </div>
    </div>
  </div>
</section>
