---
import Verticalgrid from "../../assets/Verticalgrid.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, getRouteFromUrl } from '../../../i18n/utils';
import { languages } from '../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const featuresBlockOne = [
  {
    icon: "tracking",
    title: t('softwarearhitecturefeaturepage:feature1'),
    description: t('softwarearhitecturefeaturepage:feature1description'),
  },
  {
    icon: "options",
    title: t('softwarearhitecturefeaturepage:feature2'),
    description: t('softwarearhitecturefeaturepage:feature2description'),
  },
  {
    icon: "integration",
    title: t('softwarearhitecturefeaturepage:feature3'),
    description: t('softwarearhitecturefeaturepage:feature3description'),
  },
  {
    icon: "tracking",
    title: t('softwarearhitecturefeaturepage:feature4'),
    description: t('softwarearhitecturefeaturepage:feature4description'),
  },
];

---
<section class="relative scroll-mt-24">
  <Verticalgrid />
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-24 relative">
    <div class="max-w-xl">
      <p class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text">
        {t('global:yearsofexperience')}
      </p>
      <p class="text-3xl mt-8 font-normal text-white tracking-tight">
        {t('softwarearhitecturefeaturepage:title')}
      </p>
    </div>
    
    <ul class="grid grid-cols-1 gap-12 mt-12 list-none md:grid-cols-2" role="list">
     {
        featuresBlockOne.map((features) => (
          <li>
        <div class="text-base text-vulcan-300">
          <strong class="text-white">{features.title}</strong>
          ― {features.description}
        </div>
      </li>
        ))
      }
    </ul>
      
    </div>
  </div>
</section>
