---
import Verticalgrid from "../assets/Verticalgrid.astro";
import Blurgradientleft from "../assets/Blurgradientleft.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="relative">
  <Verticalgrid />
  <Blurgradientleft />

  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 relative space-y-24 lg:pt-56">
    <div>
      <p
        class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
      >
        {t('aboutpage:aboutus')}
      </p>
      <p class="mt-8 text-4xl text-balance font-normal text-white sm:text-5xl">
        {t('aboutpage:slogan')}
      </p>
      <p class="text-balance mt-4 text-base text-vulcan-300" style="max-width:600px;text-align:justify;">
        {t('aboutpage:paragraphone')}
      </p>
      <p class="text-balance mt-4 text-base text-vulcan-300" style="max-width:600px;text-align:justify;">
        {t('aboutpage:paragraphtwo')}
      </p>
      <p class="text-balance mt-4 text-base text-vulcan-300" style="max-width:600px;text-align:justify;">
        {t('aboutpage:paragraphthree')}
      </p>
    </div>
  </div>
</section>

