<section class="relative">
  <div class="px-8 py-24 mx-auto max-w-7xl md:px-12 lg:px-32 lg:pt-56">
    <div class="justify-center max-w-3xl">
      <p class="text-3xl font-normal tracking-tight text-white">Alerts</p>
    </div>
    <div class="mt-12 space-y-24">
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">Simple</h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="ring-1 ring-inset ring-white/5  text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem]"
          >
            <div class="bg-vulcan-900 rounded-xl p-4">
              <h3 class="text-sm font-medium">
                Lexington's V3 is here with a new design
              </h3>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            With description
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="ring-1 ring-inset ring-white/5  text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem]"
          >
          <div class="bg-vulcan-900 rounded-xl p-4">
              <div class="inline-flex items-center gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 icon icon-tabler icon-tabler-info-circle"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                  <path d="M12 9h.01"></path>
                  <path d="M11 12h1v4h1"></path>
                </svg>
                <h3 class="text-sm font-medium">Time for a Giggle Break!</h3>
              </div>
              <div class="mt-2 text-sm text-vulcan-300">
                <p>
                  Why don't scientists trust atoms? Because they make up
                  everything, just like my excuses for being late to the office!
                </p>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            With list
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="ring-1 ring-inset ring-white/5  text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem]"
          >
            <div class="bg-vulcan-900 rounded-xl p-4">
              <div class="inline-flex items-center gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 icon icon-tabler icon-tabler-info-circle"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                  <path d="M12 9h.01"></path>
                  <path d="M11 12h1v4h1"></path>
                </svg>
                <h3 class="text-sm font-medium">Time for a Giggle Break!</h3>
              </div>
              <div class="mt-2 text-sm">
                <ul role="list" class="pl-5 space-y-1 list-disc text-vulcan-300">
                  <li>
                    Your password must be at least 8 characters, because even
                    passwords need a little length to protect their secrets.
                  </li>
                  <li>
                    Your password must include at least one pro wrestling
                    finishing move, so you can 'pin' down your security like a
                    champ
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            With buttons
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="overflow-hidden ring-1 ring-inset ring-white/5  text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem]"
          >
            <div class="p-4 text-white bg-vulcan-900 rounded-xl ">
              <div class="inline-flex items-center gap-4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-4 h-4 icon icon-tabler icon-tabler-circle-check"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                  <path d="M9 12l2 2l4 -4"></path>
                </svg>
                <h3 class="text-sm font-medium">Time for a Giggle Break!</h3>
              </div>
              <div class="mt-2 text-sm">
                <p>
                  Why don't scientists trust atoms? Because they make up
                  everything, just like my excuses for being late to the office!
                </p>
              </div>
              <div class="flex flex-wrap w-full gap-2 border-t border-vulcan-800 pt-4 mt-8">
                <button
                  type="button"
                  class="flex items-center justify-center h-10 px-4 py-2 ml-auto text-sm font-semibold text-white transition-all border rounded-lg bg-gradient-to-b from-vulcan-500/[.105] to-vulcan-900/[.15] hover:text-indigo-400 border-vulcan-700"
                  >Outlined button</button
                >
                <button
                  type="button"
                  class="flex items-center justify-center h-10 px-4 py-2 text-sm font-semibold text-white transition-all rounded-lg hover:to-indigo-600 bg-gradient-to-b from-indigo-300 via-indigo-400 to-indigo-500"
                  >Primary button</button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            With link
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="ring-1 ring-inset ring-white/5  text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem]"
          >
            <div class="flex p-4 text-white bg-vulcan-900 rounded-xl">
              <div class="flex-shrink-0">
                <svg
                  class="w-5 h-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>
              <div class="flex-1 ml-3 md:flex md:justify-between">
                <p class="text-sm text-white">
                  A new software update is available. See what’s new in version
                  2.0.4.
                </p>
                <p class="mt-3 text-sm md:ml-6 md:mt-0">
                  <a
                    href="#"
                    class="text-indigo-400 whitespace-nowrap hover:text-white"
                  >
                    Details
                    <span aria-hidden="true"> &rarr;</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            Dissmisable
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            x-show="showAlert"
            x-data="{ showAlert: true }"
            role="alert"
            class="ring-1 ring-inset ring-white/5  text-white bg-gradient-to-b from-indigo-500 via-indigo-500/5 shadow-2xl rounded-xl p-[0.060rem]"
          >
            <div class="flex items-center justify-between w-full gap-4 p-4 text-white bg-vulcan-900 rounded-xl">
              <p class="text-sm text-white">
                The cookie monster just ate your cookies.
              </p>
              <div>
                <button
                  @click="showAlert = false"
                  class="underline bg-white/10 ring-1 ring-white/50 text-white focus:bg-white focus:text-blue-700 hover:bg-white hover:text-blue-950 rounded-full p-0.5"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-4 h-4 icon icon-tabler icon-tabler-x"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"
                    ></path><path d="M18 6l-12 12"></path><path d="M6 6l12 12"
                    ></path></svg
                  ></button
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            States filled
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="p-4 text-indigo-300  shadow-2xl border border-indigo-900 bg-gradient-to-b from-indigo-950/[.105] to-indigo-800/[.15] rounded-xl"
          >
            <h3 class="text-sm font-medium">Info</h3>
          </div>
          <div
            class="p-4 border text-success-100  shadow-2xl bg-gradient-to-b from-success-950/[.105] to-success-900/[.15] border-success-900 rounded-xl"
          >
            <h3 class="text-sm font-medium">Success</h3>
          </div>
          <div
            class="p-4 border text-warning-100  shadow-2xl bg-gradient-to-b from-warning-950/[.105] to-warning-800/[.15] border-warning-900 rounded-xl"
          >
            <h3 class="text-sm font-medium">Warning</h3>
          </div>
          <div
            class="p-4 border text-danger-200  shadow-2xl bg-gradient-to-b from-danger-950/[.105] to-danger-800/[.15] border-danger-900 rounded-xl"
          >
            <h3 class="text-sm font-medium">Danger</h3>
          </div>
        </div>
      </div>
      <div>
        <div class="pb-5 border-b border-vulcan-800">
          <h3 class="text-base font-semibold leading-6 text-white">
            States outlined
          </h3>
        </div>
        <div class="flex flex-col w-full gap-2 mt-10">
          <div
            class="bg-gradient-to-b from-indigo-950 to-indigo-700 shadow-2xl border-indigo-800 p-[0.060rem] rounded-xl text-indigo-300"
          >
            <div class="p-4 bg-vulcan-900 rounded-xl">
              <h3 class="text-sm font-medium">info</h3>
            </div>
          </div>
          <div
            class="bg-gradient-to-b shadow-2xl from-success-950 to-success-800 border-success-900 p-[0.060rem] rounded-xl text-success-300"
          >
            <div class="p-4 bg-vulcan-900 rounded-xl">
              <h3 class="text-sm font-medium">Success</h3>
            </div>
          </div>
          <div
            class="bg-gradient-to-b shadow-2xl from-warning-950 to-warning-800 border-warning-900 p-[0.060rem] rounded-xl text-warning-300"
          >
            <div class="p-4 bg-vulcan-900 rounded-xl">
              <h3 class="text-sm font-medium">Warning</h3>
            </div>
          </div>

          <div
            class="p-[0.060rem] shadow-2xl bg-gradient-to-b  rounded-xl from-danger-950 to-danger-800  "
          >
            <div class="p-4 text-danger-500 bg-vulcan-900 rounded-xl">
              <h3 class="text-sm font-medium">Danger</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
