---
import Blurgradientleft from "../../assets/Blurgradientleft.astro";
import Verticalgrid from "../../assets/Verticalgrid.astro";
import { getLangFromUrl, useTranslations, useTranslatedPath, getRouteFromUrl } from '../../../i18n/utils';
import { languages } from '../../../i18n/ui';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const route = getRouteFromUrl(Astro.url);
---

<section class="relative">
    <Verticalgrid />
    <div
      class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl lg:pb-32 lg:pt-56"
    >
      <div class="max-w-5xl mx-auto">
        <p
          class="text-sm text-transparent uppercase bg-gradient-to-r from-indigo-300 to-indigo-400 bg-clip-text"
        >
          {t('solutionsnexaviapage:maintitle')}
        </p>
        <p
          class="mt-8 text-4xl text-balance font-normal text-white sm:text-5xl"
        >
          {t('solutionsnexaviapage:maintitle2')}
        </p>
        <p class="max-w-2xl mt-4 text-vulcan-300">
          {t('solutionsnexaviapage:content1text1')}<br />
          {t('solutionsnexaviapage:content1text2')}
        </p>
      </div>
    </div>
</section>

<section class="relative border-t border-white/5">
    <div class="">
        <div
        class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-1 lg:py-1 relative space-y-4"
        >
        <!-- <p
          class="mt-8 text-4xl text-balance font-normal text-white sm:text-5xl"
        >
          Nexavia Enterprise
        </p> -->
        <p
          class="mt-8 text-2xl text-balance font-normal text-white sm:text-2xl"
        >
          {t('global:nexaviaenterprise')}
        </p>
        <p class="max-w-2xl mt-4 text-vulcan-300">
          {t('solutionsnexaviapage:content2text1')}<br />
          {t('solutionsnexaviapage:content2text2')}
          <br />
          <div class="flex flex-wrap items-center w-full gap-2 mt-10">
            <a href={translatePath('/resitve/nexavia/nexavia-enterprise', lang)} target="_blank">
              <button
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-vulcan-900 text-white hover:text-indigo-400 h-10 border-vulcan-700"
              >
              <!-- <svg
                class="icon icon-tabler icon-tabler-brand-google-play"
                fill="none"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                height="20"
                width="20"
                ><path d="M0 0h24v24H0z" fill="none" stroke="none"></path><path
                  d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"
                ></path><path d="M15 9l-10.5 11.5"></path><path
                  d="M4.5 3.5l10.5 11.5"></path>
                </svg> -->
                <span class="flex flex-col items-start leading-none ml-4">{t('solutionsnexaviapage:buttontext')}</span>
              </button>
            </a>
        </p>
        </div>
    </div>
</section>